<div class="row-fluid">
    <div class="well">
        <div id=calendar-activities></div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#calendar-activities').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            editable: true,
            height: 550,
            monthNames: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"],
            monthNamesShort: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
            dayNames: ["Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sábado"],
            dayNamesShort: ["Dom", "Seg", "Ter", "Qua", "Qui", "Sex", "Sáb"],
            buttonText: {
                today: "hoje",
                month: "mês",
                week: "semana",
                day: "dia"
            },
            columnFormat: {
                month: "ddd",
                week: "ddd d/M",
                day: "dddd d/M"
            },
            events: [
                <% @activities.each do |atividade| %>
                {
                    title: '<%= atividade.description %>',
                    start: '<%= atividade.date_start %>',
                    end: '<%= atividade.date_end %>'
                },
                <% end %>
            ]
        });
    });
</script>