<div class="row-fluid">
    <div class="span12">
        <div class="top-bar">
            <h3><i class="icon-list-alt"></i> Visualizar Natureza de Financiamento</h3>
        </div>
        <div class="well no-padding">
            <% unless notice.nil? %>
                <div class="alert"><%= notice %></div>
            <% end %>
                            <div class="control-group span12 no-margin-left">
                    <label class="control-label">Title:</label>
                    <div class="controls">
                        <%= @nature_financing.title %>
                    </div>
                </div>
                            <div class="control-group span12 no-margin-left">
                    <label class="control-label">Description:</label>
                    <div class="controls">
                        <%= @nature_financing.description %>
                    </div>
                </div>
                            <div class="control-group span12 no-margin-left">
                    <label class="control-label">Institute:</label>
                    <div class="controls">
                        <%= @nature_financing.institute.name %>
                    </div>
                </div>
                    </div>
    </div>
</div>
