<div class="row-fluid">
    <div class="span12">
        <div class="top-bar">
            <h3><i class="icon-list-alt"></i> Visualizar Departamento</h3>
        </div>
        <div class="well no-padding">
            <% unless notice.nil? %>
                <div class="alert"><%= notice %></div>
            <% end %>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Nome:</label>
                    <div class="controls">
                        <%= @department.name %>
                    </div>
                </div>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Organização:</label>
                    <div class="controls">
                        <%= @department.institute.name %>
                    </div>
                </div>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Responsável:</label>
                    <div class="controls">
                        <%= @department.person.name %>
                    </div>
                </div>
        </div>
    </div>
</div>
