<h1>Bem vindo ao Quero 10</h1>
<% unless notice.nil? %>
    <div class="alert"><%= notice %></div>
<% end %>
<p>
    <%= link_to "Login", new_user_session_path %> | 
    <%= link_to "Cadastre-se", new_user_registration_path %><br />
</p>