<div class="row-fluid welcome">
    <div class="span4">
        <a class="brand" href="#"><%= image_tag("logo_quero10.png") %></a>
    </div>
    
    <div class="span8">
    	<div class="top-bar">
    		<ul class="tab-container">
    		  <li class="active"><a href="#tab-1"><i class="icon-question"></i> O que é?</a></li>
    		  <li><a href="#tab-2"><i class="icon-group"></i> Quem somos</a></li>
    		</ul>
    	</div>
    
    	<div class="well">
    		<div class="tab-content">
    		  	<div class="tab-pane active" id="tab-1">
    			  <p align="justify">"Quero 10", é uma ferramenta para auxílio na gestão de projetos de pesquisas, possibilitando aos pesquisadores a autogestão dos seus projetos. Este sistema trata dos assuntos relacionados ao escritório de projeto, o sistema controla os participantes dos projetos, gerência os gastos/investimentos do projeto e com isso facilita as prestações de contas aos órgãos financiadores além de auxiliar na publicidade/transparência destes projetos.</p>
    			</div>
    		  <div class="tab-pane" id="tab-2">
    			<p align="justify">Este é um Projeto desenvolvido para a disciplina de Engenharia de Software Ministrada pelo Prof. Vinícius Cardoso Garcia.</p>
    			<p>Produzido por: </p>
    			<li>Anderson Maia de Albuquerque</li> 
    			<li>Ana Raquel Correia Marinho
    			<li>Carine Calixto Aguena</li>
    			<li>Eli Medeiros Sousa</li>
    			<li>Karina Moreira Azevedo</li>
    			<li>Paulo Roberto de Souza Mesquita Jr</li>
    			<li>Vanessa Cristine Silva</li>
    		  </div>
    		</div>
    	</div>
    </div>
</div>