<div class="row-fluid welcome">
    <div class="span4">
        <a class="brand" href="#"><%= image_tag("logo_quero10.png") %></a>
    </div>
    
    <div class="span8">
    	<div class="top-bar">
    		<ul class="tab-container">
    		  <li class="active"><a href="#tab-1"><i class="icon-question"></i> O que é?</a></li>
    		  <li><a href="#tab-2"><i class="icon-group"></i> Quem somos</a></li>
    		</ul>
    	</div>
    
    	<div class="well">
    		<div class="tab-content">
    		  	<div class="tab-pane active" id="tab-1">
    			  <p>As he was thus walking, uttering no sound, except to hail the men aloft, or to bid them hoist a sail still higher, or to spread one to a still greater breadth—thus to and fro pacing, beneath his slouched hat, at every turn he passed his own wrecked boat, which had been dropped upon the quarter-deck, and lay there reversed; broken bow to shattered stern. At last he paused before it; and as in an already over-clouded sky fresh troops of clouds will sometimes sail across, so over the old man's face there now stole some such added gloom as this.</p>
    			</div>
    		  <div class="tab-pane" id="tab-2">
    			<p>Stubb saw him pause; and perhaps intending, not vainly, though, to evince his own unabated fortitude, and thus keep up a valiant place in his Captain's mind, he advanced, and eyeing the wreck exclaimed—"The thistle the ass refused; it pricked his mouth too keenly, sir; ha! ha!"</p>
    		  </div>
    		</div>
    	</div>
    </div>
</div>