<div class="row-fluid">
    <div class="span12">
        <div class="top-bar">
            <h3><i class="icon-list-alt"></i> Visualizar <%= singular_table_name.capitalize %></h3>
        </div>
        <div class="well no-padding">
            <%%= unless notice.nil? %>
                <div class="alert"><%%= notice %></div>
            <%% end %>
            <% attributes.each do |attribute| -%>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label"><%= attribute.human_name %>:</label>
                    <div class="controls">
                        <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
                    </div>
                </div>
            <% end -%>
        </div>
    </div>
</div>
