<div class="row-fluid">
    <div class="span12">
        <div class="top-bar">
            <h3><i class="icon-list-alt"></i> Visualizar Testis</h3>
        </div>
        <div class="well no-padding">
            <% unless notice.nil? %>
                <div class="alert"><%= notice %></div>
            <% end %>
                            <div class="control-group span12 no-margin-left">
                    <label class="control-label">Codigo:</label>
                    <div class="controls">
                        <%= @testis.codigo %>
                    </div>
                </div>
                            <div class="control-group span12 no-margin-left">
                    <label class="control-label">Nome:</label>
                    <div class="controls">
                        <%= @testis.nome %>
                    </div>
                </div>
                    </div>
    </div>
</div>
