// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome {
    margin-top: 50px;
}

.navbar .nav > li {
    padding: 20px 5px 10px;
}

.navbar .nav > li input {
    width: 160px;
}

.navbar .nav > li a.cadastro {
    padding: 0 !important;
    font-size: 25px;
    color: #FDBB19;
}

.navbar .nav > li a.cadastro i {
    font-size: 29px;
    color: #FDBB19;
}